<body>  
<h2 align="center" style="color:Black">Boats</h2>
<div>
<table class="table table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= boat.name %></td>
        <td><%= boat.color %></td>
        <td>

 	<%= link_to 'Show', boat %>
	<%= link_to 'Edit', edit_boat_path(boat) %>
 	<%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %>

	</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div>

</div>
<br>

<%= link_to 'New Boat', new_boat_path %> |
<%= link_to 'Back', 'welcome/index' %>
</body>
